// SECTION ROOT VARIABLES
$primary: rgb(168, 25, 204);
$primary-dark: rgb(69, 12, 83);
$secondary: rgb(218, 15, 218);
$secondary-dark: rgb(144, 27, 144);
$dark: rgb(29, 0, 36);
$light: rgb(241, 219, 241);
$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
$transition: all 0.3s ease;
