@use '../bootstrap' as *;

// SECTION SCOREBAR
.score {
  @include rounded;

  width: 30px;
  height: 100%;
  background-color: $secondary-dark;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: $shadow;
  transition: $transition;
  h3 {
    color: $light;
  }
  &__wrong {
    background-color: #ce3434;
    text-align: center;
    padding: 0.5rem 0;
  }
  &__right {
    background-color: #31c338;
    text-align: center;
    position: relative;

    h3 {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
