@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

body {
  background-color: #450c53;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #f1dbf1;
}
a:hover {
  color: #a819cc;
}
a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  width: 0;
}
a:hover:after {
  width: auto;
  left: 0;
}

.container {
  border-radius: 2em;
  overflow: hidden;
  position: relative;
  z-index: 5;
  width: 85%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  margin: calc((100vh - 25rem) / 2) auto;
  background-color: #1d0024;
  transition: all 0.3s ease;
}
.container--correct {
  background-color: #31c338;
}
.container--incorrect {
  background-color: #ce3434;
}
.container::before {
  border-radius: 2em;
  overflow: hidden;
  z-index: 0;
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background: #1d0024;
}

.quiz-container {
  position: relative;
  border-radius: 2em;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #f1dbf1;
  display: flex;
  padding: 1rem;
  gap: 0 1rem;
}

header {
  width: 100vw;
  height: 3rem;
  background-color: #1d0024;
  position: absolute;
  z-index: 100;
}

header {
  top: 0;
  height: auto;
}
header h1 {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  color: #f1dbf1;
}

.hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.hero #ni {
  position: absolute;
  z-index: 2;
  font-weight: 800;
  color: rgba(48, 4, 61, 0.4);
  top: 1%;
  left: -0.2em;
  transform: rotateZ(-20deg);
  font-size: calc(8rem + 19vh);
}
.hero #hon {
  position: absolute;
  z-index: 2;
  font-weight: 800;
  color: rgba(48, 4, 61, 0.4);
  top: -3%;
  left: 39%;
  transform: rotateZ(-10deg);
  font-size: calc(8rem + 21vh);
}
.hero #go {
  position: absolute;
  z-index: 2;
  font-weight: 800;
  color: rgba(48, 4, 61, 0.4);
  top: 1%;
  left: 81%;
  transform: rotateZ(5deg);
  font-size: calc(8rem + 17vh);
}
.hero #kan {
  position: absolute;
  z-index: 2;
  font-weight: 800;
  color: rgba(48, 4, 61, 0.4);
  bottom: -3%;
  left: 14%;
  transform: rotateZ(10deg);
  font-size: calc(8rem + 23vh);
}
.hero #ji {
  position: absolute;
  z-index: 2;
  font-weight: 800;
  color: rgba(48, 4, 61, 0.4);
  bottom: -10%;
  left: 65%;
  transform: rotateZ(-20deg);
  font-size: calc(8rem + 25vh);
}
@media screen and (max-width: 768px) {
  .hero {
    display: none;
  }
}

footer {
  width: 100vw;
  height: 3rem;
  background-color: #1d0024;
  position: absolute;
  z-index: 100;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
}
footer p {
  color: #f1dbf1;
  font-size: 1rem;
  padding: 0 3rem;
}
footer FaGithub {
  font-size: 3em;
}

.start {
  width: 100vw;
  height: 100vh;
  background-color: #450c53;
  display: grid;
  place-items: center;
  transition: all 0.3s ease;
}
.start__container {
  border-radius: 2em;
  overflow: hidden;
  width: calc(5rem + 40%);
  height: 50vh;
  background-color: #901b90;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  .start__container {
    width: 80%;
  }
}
.start__btn {
  border-radius: 2em;
  overflow: hidden;
  display: block;
  padding: 1rem;
  background-color: #da0fda;
  border: none;
  box-shadow: 0px 2px 6px #450c53;
  font-size: 1.5rem;
  color: #f1dbf1;
  transition: all 0.3s ease;
}
.start__btn:hover {
  transform: translate(1px, -2px);
  background-color: #a819cc;
}
.start__select {
  border-radius: 2em;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 60%;
  height: 3em;
  line-height: 3;
  background: #a819cc;
}
@media screen and (max-width: 768px) {
  .start__select {
    width: 80%;
  }
}
.start__select::after {
  content: "▼";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.1em 1em;
  background: #450c53;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
  color: #f1dbf1;
}
.start select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0ch;
  background: #da0fda;
  background-image: none;
}
.start select:hover::after {
  color: white;
}
.start select {
  flex: 1;
  padding: 0 1em;
  color: #f1dbf1;
  cursor: pointer;
  font-size: 1em;
}
.start__number {
  border-radius: 2em;
  overflow: hidden;
  width: 60%;
  height: 3em;
  background: #da0fda;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .start__number {
    width: 80%;
  }
}
.start__number p {
  margin: auto 0;
  padding: 0 1rem;
  color: #f1dbf1;
}
.start__number input[type=number] {
  width: 40%;
  padding: 0.5em 0.5em;
  border: none;
  appearance: none;
  font-weight: 500;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .start__number input[type=number] {
    width: 50%;
  }
}

.kanji {
  border-radius: 2em;
  overflow: hidden;
  flex: 1 0 0;
  height: 100%;
  width: 50%;
  background-color: #901b90;
  display: grid;
  place-items: center;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.kanji__info {
  display: table;
  position: absolute;
  background-color: #a71da7;
  height: 15%;
  text-align: center;
  width: 30%;
  top: 0;
  left: 0;
  border-bottom-right-radius: 2rem;
  color: white;
  display: grid;
  place-items: center;
}
.kanji__info FaInfoCircle {
  font-size: 19rem;
}
.kanji__grade {
  display: table;
  position: absolute;
  background-color: #a71da7;
  height: 15%;
  text-align: center;
  width: 40%;
  bottom: 0;
  left: 0;
  border-top-right-radius: 2rem;
}
@media screen and (max-width: 768px) {
  .kanji__grade {
    border-radius: 0;
    width: 50%;
  }
}
.kanji__jlpt {
  display: table;
  position: absolute;
  background-color: #a71da7;
  height: 15%;
  text-align: center;
  width: 40%;
  bottom: 0;
  right: 0;
  border-top-left-radius: 2rem;
}
@media screen and (max-width: 768px) {
  .kanji__jlpt {
    border-radius: 0;
    width: 50%;
  }
}
.kanji__count {
  display: table;
  position: absolute;
  background-color: #a71da7;
  height: 15%;
  text-align: center;
  width: 50%;
  top: 0;
  right: 0;
  border-bottom-left-radius: 2rem;
}
.kanji h3 {
  display: table-cell;
  vertical-align: middle;
  color: #f1dbf1;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .kanji h3 {
    font-size: 1rem;
    font-weight: bold;
  }
}
.kanji__character {
  font-size: calc(4rem + 6vw);
  font-weight: normal;
  color: #f1dbf1;
}

.answers {
  border-radius: 2em;
  overflow: hidden;
  flex: 1 0 0;
  height: 100%;
  width: 50%;
  background-color: #901b90;
  display: grid;
  justify-content: space-around;
  align-content: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
  padding: 0 4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
.answers__option {
  border-radius: 2em;
  border: none;
  padding: 1rem 1rem;
  background-color: #da0fda;
  display: block;
  font-size: 1.4em;
  font-weight: 600;
  color: #f1dbf1;
  box-shadow: 0px 2px 6px #450c53;
  transition: all 0.3s ease;
  position: relative;
}

@media (hover: hover) {
  .answers__option:hover {
    transform: translate(1px, -2px);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.25);
    background-color: #a819cc;
  }
}
.score {
  border-radius: 2em;
  overflow: hidden;
  width: 30px;
  height: 100%;
  background-color: #901b90;
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.score h3 {
  color: #f1dbf1;
}
.score__wrong {
  background-color: #ce3434;
  text-align: center;
  padding: 0.5rem 0;
}
.score__right {
  background-color: #31c338;
  text-align: center;
  position: relative;
}
.score__right h3 {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.feedback {
  margin: auto;
  text-align: center;
  transition: all 0.3s ease;
  padding: 0.5em 0;
}
.feedback p {
  font-size: 1.75rem;
  color: #f1dbf1;
}

.finished {
  width: auto;
  height: 100vh;
  display: grid;
  place-items: center;
}
.finished h2 {
  position: relative;
  z-index: 5;
  color: #f1dbf1;
}

.timer {
  position: relative;
  margin: 0.1rem auto;
  padding: 0.3em 0;
  text-align: center;
  transition: all 0.3s ease;
}
.timer .digits {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  color: #f5f5f5;
}
.timer .mili-sec {
  color: #e42a2a;
}

@media screen and (max-width: 768px) {
  .container {
    height: calc(100vh - 10rem);
    margin: 5rem auto;
  }

  .quiz-container {
    flex-direction: column;
  }

  .kanji {
    width: 100%;
    margin-bottom: 1rem;
  }
  .kanji__info h3 {
    font-size: 0.8rem;
  }

  .score {
    width: 100%;
    height: 30px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
  }
  .score h3 {
    font-size: 1rem;
  }

  .answers {
    width: 100%;
    padding: 1rem 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .answers__option {
    margin: 0 1rem;
    padding: 0.3rem 0;
    font-size: 1rem;
  }

  .feedback p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
